body {
  background-color: peachpuff;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.calc-container {
  border: 2px solid #333;
  display: inline-block;
  background-color: #333;
}

.calc-button {
  width: 70px;
  min-height: 50px;
  color: #000;
  background-color: lemonchiffon;
  outline: none;
  border: none;
  font-size: 24px;
}

.calc-button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.width-2 {
  width: 140px !important;
}

.calc-button-op {
  color: #000;
  background-color: powderblue;
}

.calc-button-top {
  color: #000;
  background-color: lightcoral;
}

.answer-box {
  background-color: #333;
  color: #fff;
  text-align: right;
  min-height: 30px;
  font-size: 32px;
}

p {
  min-height: 40px;
  font-size: 32px;
  color: #fff;
}