.container {
  text-align: center;
  margin-top: 10px;
}
.calc-container {
  border: 1px solid #333;
  /* border-radius: 2px; */
  display: inline-block;
  background-color: #ddd;
}

.calc-button {
  width: 50px;
  min-height: 50px;
  color: #333;
  font-size: 1.2em;
  background-color: rgb(220, 220, 220);
  border-left: none;
  border-top: none;
  border-bottom: rgb(175, 175, 175) solid 1px;
}

.width-2 {
  width: 100px !important;
}

.calc-button-op {
  color: #fff;
  background-color: rgb(246,135,44);
  border-left: none;
  border-top: none;
  border-bottom: rgb(175, 175, 175) solid 1px;
}

.calc-button-top {
  color: #333;
  background-color: rgb(220, 220, 220);
  border-left: none;
  border-top: none;
  border-bottom: rgb(175, 175, 175) solid 1px;
}

.answer-box {
  background-color: rgb(67,67,67);
  color: #fff;
  text-align: right;
  min-height: 50px;
  font-size: 3em;
  font-weight: lighter;
}
